services:
  jupyter:
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - JUPYTER_ENABLE_LAB=yes
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  tensorboard:
    build:
      context: .
      dockerfile: Dockerfile
      target: gpu-stage # Use GPU stage
