services:
  jupyter:
    build:
      context: .
      dockerfile: Dockerfile
      target: gpu-stage # Changed to GPU
    container_name: ai-pipeline-jupyter
    ports:
      - "8888:8888"
      - "6006:6006"
    volumes:
      - .:/app
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility

    restart: unless-stopped
    shm_size: "16gb"
    ipc: host

  tensorboard:
    build:
      context: .
      dockerfile: Dockerfile
      target: cpu-stage
    container_name: ai-pipeline-tensorboard
    ports:
      - "6007:6006"
    volumes:
      - .:/app
    command: bash -c "mkdir -p /app/exp_result && tensorboard --logdir=/app/exp_result --host=0.0.0.0 --port=6006"
    restart: unless-stopped
